    <main>
        <div class="background">
            <section id="card-section">
                <div class="card">
                    <p>Start your journey <br> We are happy to help you.</p>
                    <div class="info">
                       
                        <button class="btn btn-md mr"><a href="/register">Register</a></button>
                        <button class="btn btn-md mr"><a href="/login">Sign In</a></button>
                    </div>
                    
 
                </div>
            </section>
        </div>
       
    </div>
  </div>
        <section id="hotline-section">
            <div class="hotline">
                <img src="/img/HOTLINE.png" alt="">
                <p>Hotline +971&nbsp;52&nbsp;431&nbsp;9345</p>
            </div>
        </section>
    </main>



