<div id="carouselExampleIndicators" class="carousel slide carousel-fade  my-0" data-bs-ride="carousel">
  <ol class="carousel-indicators">
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
  </ol>
  <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/img/slide.jpeg" class="d-block w-100 h-slide" alt="...">

      </div>
      <div class="carousel-item">
        <img src="/img/services10.jpeg" class="d-block w-100 h-slide" alt="...">

      </div>
      <div class="carousel-item">
        <img src="/img/services4.jpeg" class="d-block w-100 h-slide" alt="...">

      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <section class="text-gray-600 body-font mx-auto">
    <h1 class="sm:text-3xl text-2xl font-medium title-font d-flex justify-content-center my-10 text-gray-900 text-copper">Our Services
    </h1>
    <div class="container px-5 py-18 mx-auto">
      <div class="flex flex-wrap -m-4">
        <a class="block relative h-48 rounded-circle overflow-hidden">
          <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="/img/services12.jpeg">
        </a>
        <div class="mt-4 text-center ">
          <!-- <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3> -->
          <h2 class="text-gray-900 title-font text-lg font-medium text-navy  ">FLOOR WORK</h2>
          <p class="d-inline">Bareeha Technical Services carry a wide selection of top quality flooring and provides
          </p>
          <div class="collapse" id="collapseExample">
            <div class="text-dark">
              a wide range of products at the best value to customers which also gives the surety to find the flooring
              options that suits the needs of them. There are flooring for specific needs such as for wall cladding, for
              sports, for safety etc. We have a wide range of products are which is widely categorized under three types
              —
              wooden, vinyl & carpets.
            </div>
          </div>
          <p>
            <a class="show text-navy" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
              aria-controls="collapseExample">
              Show More
            </a>
          </p>
          <a class="btn btn-secondary " href="/floor" role="button">View details »</a>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded-full overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="/img/services11.jpeg">
        </a>
        <div class="mt-4 text-center">
          <!-- <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3> -->
          <h2 class="text-gray-900 title-font text-lg font-medium text-navy ">WALL TILING</h2>
          <p class="text-dark d-inline text-candara">Bareeha Technical Services provide tiles that are stain resistant, strong and
            highly</p>
          <div class="collapse" id="collapseExample2">
            <div class="text-dark">
              durable. Cutting-edge digital printing technology is used to create stunning patterns and designs on our
              range of
              Digital Wall Tiles, Glazed Vitrified Tiles, Polished Glazed Vitrified Tiles etc. are provided to customers
              which give the best sheen, surface consistency and durability.
            </div>
          </div>
          <p>
            <a class="show text-navy " data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false"
              aria-controls="collapseExample">
              Show More
            </a>
          </p>
          <a class="btn btn-secondary " href="/wall" role="button">View details »</a>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded-circle overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="/img/services10.jpeg">
        </a>
        <div class="mt-4 text-center">
          <!-- <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3> -->
          <h2 class="text-gray-900 title-font text-lg font-medium text-navy">PLUMBING</h2>
          <p class="d-inline">Plumbing - Bareeha Technical Services is also trusted for plumbing services </p>
          <div class="collapse" id="collapseExample3">
            <div class="text-dark">
              because of quality, professional plumbers and superior work. We offer prompt expert plumbing services from
              our Plumbers for customers' home or business, with available same day and emergency plumbing repairs. Our
              top-notch plumbers were hand-picked and trained to ensure the highest level of customer satisfaction
              available. No job is too big or small! You can rely on the quality and consistency of Bareeha Technical
              Services.
            </div>
          </div>
          <p>
            <a class="show text-navy" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false"
              aria-controls="collapseExample">
              Show More
            </a>
          </p>
          <a class="btn btn-secondary " href="/plumbing" role="button">View details »</a>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded-circle overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="/img/services9.jpeg">
        </a>
        <div class="mt-4 text-center">
          <!-- <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3> -->
          <h2 class="text-gray-900 title-font text-lg font-medium text-navy">PLASTER WORK</h2>
          <p class="d-inline text-dark">Plastering has always been the enduring passion behind everything we do;</p>
          <div class="collapse" id="collapseExample4">
            <div class="text-dark">
              we know our craft and we bring a wealth of experience, care and expertise to every job. We have always
              believed that quality, safety, flexibility and value for money are the hallmarks of good business. The
              biggest measure of our success is the strength of the relationships we have built with our clients, big
              and
              small. We ensure to satisfy our customers with the top-quality work of our professional workers.
            </div>
          </div>
          <p>
            <a class="show text-navy" data-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false"
              aria-controls="collapseExample">
              Show More
            </a>
          </p>
          <a class="btn btn-secondary " href="/plasterWork" role="button">View details »</a>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded-circle overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="/img/services8.jpeg">
        </a>
        <div class="mt-4 text-center">
          <!-- <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3> -->
          <h2 class="text-gray-900 title-font text-lg font-medium text-navy">WALLPAPER FIXING</h2>
          <p class="d-inline text-dark"> Explore the new you by defining your walls with Global Trends brought to</p>
          <div class="collapse" id="collapseExample5">
            <div class="text-dark">
              you by Bareeha Technical Services. We believe happiness is home-made. We have more than 10,000+ wallpaper
              designs. The mixture and glitter ensure that your walls are noticed. We allow clients to customize
              wallpaper
              for walls so they are not limited in their home decor imaginations. Indulge in the spirit of Joyful Living
              with Happy Walls and Happier Homes with Bareeha Technical Services.
            </div>
          </div>
          <p>
            <a class="show text-navy" data-toggle="collapse" href="#collapseExample5" role="button" aria-expanded="false"
              aria-controls="collapseExample">
              Show More
            </a>
          </p>
          <a class="btn btn-secondary " href="/fixing" role="button">View details »</a>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded-circle overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="/img/services7.jpeg">
        </a>
        <div class="mt-4 text-center">
          <!-- <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3> -->
          <h2 class="text-gray-900 title-font text-base font-medium text-navy">FALSE CEILING & LIGHT PARTITIONS INSTALlATION</h2>
          <p class="d-inline text-dark">We do installation of all kind of false ceiling and light partition</p>
          <div class="collapse" id="collapseExample6">
            <div class="text-dark">
              works with highest level of quality. The services we offer include commercial interiors, retail shop
              interiors,
              offices interiors, hotel lobby interiors, hotel suites interiors and regular homes also. We also have a
              vast
              choice of designer ceiling tiles that can be used for providing acoustical insulation. Bareeha Technical
              Services is one of the most reliable and respected contracting establishments.
            </div>
          </div>
          <p>
            <a class="show text-navy" data-toggle="collapse" href="#collapseExample6" role="button" aria-expanded="false"
              aria-controls="collapseExample">
              Show More
            </a>
          </p>
          <a class="btn btn-secondary " href="/installation" role="button">View details »</a>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded-circle overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="/img/services6.jpeg">
        </a>
        <div class="mt-4 text-center">
          <!-- <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3> -->
          <h2 class="text-gray-900 title-font text-lg font-medium text-navy">AC SERVICES</h2>
          <p class="d-inline text-dark"> Bareeha Technical Services provide complete solution support for engineers</p>
          <div class="collapse" id="collapseExample7">
            <div class="text-dark">
              , contractors and owners. Working collaboratively with our network partners, we provide cost-effective
              support resources to help you get the best possible performance from your mechanical systems, at every
              phase
              in the lifecycle of your building. Control your environment with quality evaporative media with the help
              of
              all our professional workers. We offer all types of air conditioning units from reputed manufacturers.
            </div>
          </div>
          <p>
            <a class="show text-navy" data-toggle="collapse" href="#collapseExample7" role="button" aria-expanded="false"
              aria-controls="collapseExample">
              Show More
            </a>
          </p>
          <a class="btn btn-secondary " href="/ac" role="button">View details »</a>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded-circle overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="/img/services5.jpeg">
        </a>
        <div class="mt-4 text-center">
          <!-- <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3> -->
          <h2 class="text-gray-900 title-font text-lg font-medium text-navy">VENTILATION SYSTEM</h2>
          <p class="d-inline text-dark">We provide ventilation systems to all concerned industries where fume,</p>
          <div class="collapse" id="collapseExample8">
            <div class="text-dark">
              heat, smoke, gases, humidity are generated. All frameworks are explicitly picked for individual working
              conditions. Because of our solid experience, we can give our administrations all around to mechanical
              clients working in a wide range of nations. Not all air duct cleaners offer the same quality or level of
              service. Bareeha Technical Services will help you breathe better and improve the indoor air quality at
              your
              respective places.
            </div>
          </div>
          <p>
            <a class="show text-navy" data-toggle="collapse" href="#collapseExample8" role="button" aria-expanded="false"
              aria-controls="collapseExample">
              Show More
            </a>
          </p>
          <a class="btn btn-secondary " href="/ventilation" role="button">View details »</a>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">

        <a class="block relative h-48 rounded-circle overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="/img/services4.jpeg">
        </a>
        <div class="mt-4 text-center">
          <!-- <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3> -->
          <h2 class="text-gray-900 title-font text-base font-medium text-navy">BUILDING CLEANING SERVICES</h2>
          <p class="d-inline text-dark">The use of unique professional window cleaning kit and services
          </p>
          <div class="collapse" id="collapseExample9">
            <div class="text-dark">
              of skilled cleaners allow us to provide clients with efficient and highly effective high rise building cleaning services. Bareeha Technical Services prepare and implement the building cleaning services module keeping in mind the client's requirements and safety of our cleaners. Call on the Experts at Bareeha Technical Services to ensure that your building is always a clean, healthy and safe environment. Trust the Cleaning Experts at Bareeha Technical Services.
            </div>
          </div>
          <p>
            <a class="show text-navy" data-toggle="collapse" href="#collapseExample9" role="button" aria-expanded="false"
              aria-controls="collapseExample">
              Show More
            </a>
          </p>
          <a class="btn btn-secondary " href="/building" role="button">View details »</a>
        </div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded-circle overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="/img/services3.jpeg">
        </a>
        <div class="mt-4 text-center">
          <!-- <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3> -->
          <h2 class="text-gray-900 title-font text-base font-medium text-navy"> ELECTRICAL FITTING & FIXTURES SERVICES</h2>
          <p class="d-inline text-dark">Bareeha Technical Services provide Electrical Fitting & Fixtures Installation
          </p>
          <div class="collapse" id="collapseExample10">
            <div class="text-dark">
              and maintenance services for diverse industries. Light & heavy-duty single and three phase wiring systems
              with fuse and control boards, supply and fitting of main switcher control panels for motors, starters,
              machine tools and generator change over switches are all part of our electrical services. We also
              undertake
              emergency lighting, office lighting and lighting for computer environments to meet your needs. We also
              conduct comprehensive testing to ensure safety of our systems.
            </div>
          </div>
          <p>
            <a class="show text-navy" data-toggle="collapse" href="#collapseExample10" role="button" aria-expanded="false"
              aria-controls="collapseExample">
              Show More
            </a>
          </p>
          <a class="btn btn-secondary " href="/fixatures" role="button">View details »</a>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded-circle overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="/img/services2.jpeg">
        </a>
        <div class="mt-4 text-center">
          <!-- <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3> -->
          <h2 class="text-gray-900 title-font text-base font-medium text-navy">PAINTING CONTRACTING</h2>
          <p class="d-inline text-dark"> Bareeha Technical Services is focused on handling all the painting needs of the
            customers</p>
          <div class="collapse" id="collapseExample11">
            <div class="text-dark">
              for their homes, offices, buildings etc. We understand how important their environment is
              and thus our professional painters provide top-quality services and custom painting solutions to achieve
              desired goals. We offer our customers to select their own choice of painting colours and the way in which
              they want the painting to be done and our professional painters work according to them.
            </div>
          </div>
          <p>
            <a class="show text-navy" data-toggle="collapse" href="#collapseExample11" role="button" aria-expanded="false"
              aria-controls="collapseExample">
              Show More
            </a>
          </p>
          <a class="btn btn-secondary " href="/painting" role="button">View details »</a>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded-circle overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="/img/services1.jpeg">
        </a>
        <div class="mt-4 text-center">
          <!-- <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3> -->
          <h2 class="text-gray-900 title-font text-base font-medium text-navy">SANITARY INSTALLATION& PIPE REPAIRING</h2>
          <p class="d-inline text-dark">We provide all kind of sanitary, pipe repairing and process piping installations
          </p>
          <div class="collapse" id="collapseExample12">
            <div class="text-dark">
              like Hot & Cold Water Supply System Installations, Drainage & Sewage System Installations, Water Tanks,
              Pumps & Pumping Stations Installations, All Kinds of Process & Transportation Piping Installation, All
              Kinds
              of Sanitary Works Installations for the Building, Villas, Hotels, Restaurants & Hospitals. Chilled Water
              Pipe Installation for all kind of HVAC Systems etc. Our professionals will arrive on time, pay attention
              to
              your requirements and provide quality solutions.
            </div>
          </div>
          <p>
            <a class="show text-navy" data-toggle="collapse" href="#collapseExample12" role="button" aria-expanded="false"
              aria-controls="collapseExample">
              Show More
            </a>
          </p>
          <a class="btn btn-secondary " href="/sanitary" role="button">View details »</a>
        </div>
      </div>
    </div>

</div>
</section>
<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="inline-block w-8 h-8 text-gray-400 mb-8" viewBox="0 0 975.036 975.036">
        <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
      </svg>
      <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm text-copper">Why use Bareeha Technical Services</h2>
      <p class="leading-relaxed text-lg text-calisto text-justify">Bareeha technical services is focused on providing a very high
        quality service. Customer satisfaction is our highest priority
        we will do everything we can to meet your expectations.
        We specialise in emergency situations and are always available
        24 hours a day 7 days a week. Our services we provide cover
        all aspects of plumbing, drainage locksand many more.
        We offer favourable discounts for senior citizens and there is no
        call out fee during normal office hours. If there is anything that
        you cannot find on our website, we are happy for you to give
        us a call and discuss it.</p>
      <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-8 mb-6"></span>
      
    </div>
  </div>
</section>
<footer class="text-white-600 body-font bg">
  <div
    class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col ">
    <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left">
      <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
        <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
          stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
          viewBox="0 0 24 24"> -->
          <img src="/img/web_logo.png" width="80px" alt="">
          <!-- <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path> -->
        <!-- </svg> -->
        <span class="ml-3 text-xs">About Bareeha Technical Services</span>
      </a>
      <p class="mt-2 text-sm text-light-500 ">Bareeha technical services is focused on providing a very high quality
        service.</p>

    </div>
    <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center">
      <div class="lg:w-1/4 md:w-1/2 w-full px-2 text-center">
        <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-2  text-secondary-600">Our Services</h2>
        <nav class="list-none mb-2 text-center">
          <li>
            <a class="text-secondary-600 text-sm hover:text-gray-800" href="/floor">Floor work</a>
          </li>
          <li>
            <a class="text-secondary-600 text-sm hover:text-gray-800" href="/wall">Wall tiling work</a>
          </li>
          <li>
            <a class="text-secondary-600 text-sm hover:text-gray-800" href="/plumbing" >Plumbing</a>
          </li>
          <li>
            <a class="text-secondary-600 text-sm hover:text-gray-800" href="/fixing">Wall Paper Fixing</a>
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-2 text-center">
        <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">Our Services</h2>
        <nav class="list-none mb-2 text-center">
          <li>
            <a class="text-secondary-600 text-sm hover:text-light-800" href="installation">False Ceiling</a>
          </li>
          <li>
            <a class="text-secondary-600 text-xs hover:text-gray-800" href="/installation">Light Partions Installation</a>
          </li>
          <li>
            <a class="text-secondary-600 text-sm hover:text-gray-800" href="/ac">Ac Services</a>
          </li>
          <li>
            <a class="text-secondary-600 text-xs hover:text-gray-800" href="/fixatures">System Maintenance</a>
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4 text-center">
        <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">Information</h2>
        <nav class="list-none mb-10 text-center">
          <li>
            <a class="text-secondary-600 text-sm hover:text-Secondary-800" href="/about">About</a>
          </li>
          <li>
            <a class="text-secondary-600 text-sm hover:text-gray-800" href="/contact">Contact</a>
          </li>
          <li>
            <a class="text-secondary-600 text-sm hover:text-gray-800" href="/register">Register</a>
          </li>
          <li>
            <a class="text-secondary-600 text-sm hover:text-gray-800" href="/login">Login</a>
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">Contact US</h2>
        <nav class="list-none mb-10 text-center">
          <li>
            <a class="text-secondary-600 text-xs  hover:text-gray-800">United Arab Emirates</a>
          </li>
          <li>
            <a class="text-secondary-600 text-sm hover:text-gray-800">+971 52 431 9345</a>
          </li>
          <li>
            <a class="text-secondary-600 text-sm hover:text-gray-800">+971 52 431 9345</a>
          </li>
          <li>
            <a class="text-secondary-600 text-sm hover:text-gray-800">bareeha@gmail.com</a>
          </li>
        </nav>
      </div>
    </div>
  </div>
  <div class="bg-#7c9b9a-100 w-100">
    <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
      <p class="text-secondary-500 text-sm text-center sm:text-left">© 2021 Bareeha Technical Services —
        <a href="https://twitter.com/bareeha" rel="noopener noreferrer" class="text-gray-600 ml-1"
          target="_blank">@Bareeha</a>
      </p>
      <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
        <a class="text-gray-500">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
            viewBox="0 0 24 24">
            <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
          </svg>
        </a>
        <a class="ml-3 text-gray-500">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
            viewBox="0 0 24 24">
            <path
              d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
            </path>
          </svg>
        </a>
        <a class="ml-3 text-gray-500">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            class="w-5 h-5" viewBox="0 0 24 24">
            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
            <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
          </svg>
        </a>
        <a class="ml-3 text-gray-500">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-whatsapp" viewBox="0 0 16 16">
            <path d="M13.601 2.326A7.854 7.854 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.933 7.933 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.898 7.898 0 0 0 13.6 2.326zM7.994 14.521a6.573 6.573 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.557 6.557 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592zm3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.729.729 0 0 0-.529.247c-.182.198-.691.677-.691 1.654 0 .977.71 1.916.81 2.049.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232z"/>
          </svg>
        </a>
      <a href="">
        <img class="ml-3" width="20px" src="https://img.icons8.com/metro/26/000000/pinterest.png"/>
      </a>
      </span>
    </div>
  </div>
</footer>

<script>
  var menuItems = document.getElementById('menuItems');

  menuItems.style.maxHeight = "0px";
  function menutoggle() {
    if (menuItems.style.maxHeight == "0px") {
      menuItems.style.maxHeight = "200px";


    } else {
      menuItems.style.maxHeight = "0px";

    }
  }

  let btn = document.getElementsById('btn');
  let para = document.getElementById('para');
  btn.addEventListener('onclick', toggleHide())
  function toggleHide() {
    if (para.style.display != 'none') {
      para.style.display = 'none';
    }
    else {
      para.style.display = 'block';
    }
  }



//     let btn2 = document.getElementsById('btn2');
//   let para2 = document.getElementById('para2'); 
// btn2.addEventListener('onclick',toggleHide2())
// function toggleHide2(){
//         if(para2.style.display != 'none'){
//         para2.style.display = 'none';
//         }
//         else{
//         para2.style.display = 'block';
//         }
//     }




</script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
</body>

</html>