          <section id="work-section">
            <div class="work">
              <h1 class="center cr text-copper">HOW WE WORK</h1>
             <p class="center">Tell us what you need and we will provide you with quotes for each <br>
              service selected from given categories wherever you are.</p>
            </div>
        </section>
        <section id="info-box">
          <div class="box">
            <h5>Select Service Category</h5>
            <p class="text-copper text-sm text-center"> What your services you are looking for to get done select your category from the options.</p>
          </div>
          <div class="box">
            <h5>Enter your contact details</h5>
            <p class="text-copper text-sm text-center"> Once you have choosen the category you looking for place your order just by one click.</p>
          </div>
          <div class="box">
            <h5>Wait for the Confirmation</h5>
            <p class="text-copper text-sm text-center"> How you have choosen the category and placed your order wait for the  confirmation from our Bareeha Technical services team.</p>
          </div>
        </section>

        <section class="text-gray-600 body-font">
          <div class="container px-5 py-24 mx-auto">
            <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="inline-block w-8 h-8 text-gray-400 mb-8" viewBox="0 0 975.036 975.036">
                <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
              </svg>
              <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm text-mont">How We Work |  Detailed Description </h2>
              <p class="leading-relaxed text-lg text-candara text-justify">Are you looking for all in one site for the residencial and commercials buildings than your search is over. Yes Bareeha Technical services is all in one solutions for your requirements all you need to do is place your order by entering your 
                username , and email address followed by your password and choose the category you need to get your job done for select the tab of "book now" than wait for our conformations by the following number or email id respectively:
                Email id:
                Contact no.
                Bareeha Technical services is a platform for all your solutions regarding your residencial or commercial needs and willing to serve you soon.</p>
              <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-8 mb-6"></span>
              
            </div>
          </div>
        </section>
      <footer class="text-white-600 body-font bg">
        <div class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col ">
          <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left">
            <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
                <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
              </svg>
              <span class="ml-3 text-xs">About Bareeha Technical Services</span>
            </a>
            <p class="mt-2 text-sm text-light-500 ">Bareeha technical services is focused on providing a very high quality service.</p>
      
          </div>
          <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center">
            <div class="lg:w-1/4 md:w-1/2 w-full px-2 text-center">
              <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-2">Our Services</h2>
              <nav class="list-none mb-2 text-center">
                <li>
                  <a class="text-secondary-600 text-sm hover:text-gray-800">Floor work</a>
                </li>
                <li>
                  <a class="text-secondary-600 text-sm hover:text-gray-800">Wall tiling work</a>
                </li>
                <li>
                  <a class="text-secondary-600 text-sm hover:text-gray-800">Plumbing</a>
                </li>
                <li>
                  <a class="text-secondary-600 text-sm hover:text-gray-800">Wall Paper Fixing</a>
                </li>
              </nav>
            </div>
            <div class="lg:w-1/4 md:w-1/2 w-full px-2 text-center">
              <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">Our Services</h2>
              <nav class="list-none mb-2 text-center">
                <li>
                  <a class="text-secondary-600 text-sm hover:text-light-800">False Ceiling</a>
                </li>
                <li>
                  <a class="text-secondary-600 text-xs hover:text-gray-800">Light Partions Installation</a>
                </li>
                <li>
                  <a class="text-secondary-600 text-sm hover:text-gray-800">Ac Services</a>
                </li>
                <li>
                  <a class="text-secondary-600 text-xs hover:text-gray-800">System Maintenance</a>
                </li>
              </nav>
            </div>
            <div class="lg:w-1/4 md:w-1/2 w-full px-4 text-center">
              <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">Information</h2>
              <nav class="list-none mb-10 text-center">
                <li>
                  <a class="text-secondary-600 text-sm hover:text-Secondary-800">About</a>
                </li>
                <li>
                  <a class="text-secondary-600 text-sm hover:text-gray-800">Contact</a>
                </li>
                <li>
                  <a class="text-secondary-600 text-sm hover:text-gray-800">Register</a>
                </li>
                <li>
                  <a class="text-secondary-600 text-sm hover:text-gray-800">Login</a>
                </li>
              </nav>
            </div>
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
              <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">Contact US</h2>
              <nav class="list-none mb-10">
                <li>
                  <a class="text-secondary-600 text-xs hover:text-gray-800">United Arab Emirates</a>
                </li>
                <li>
                  <a class="text-secondary-600 text-sm hover:text-gray-800">+971 52 431 9345</a>
                </li>
                <li>
                  <a class="text-secondary-600 text-sm hover:text-gray-800">+971 52 431 9345</a>
                </li>
                <li>
                  <a class="text-secondary-600 text-sm hover:text-gray-800">bareeha@gmail.com</a>
                </li>
              </nav>
            </div>
          </div>
        </div>
        <div class="bg-#7c9b9a-100 w-100">
          <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
            <p class="text-secondary-500 text-sm text-center sm:text-left">© 2021 Bareeha Technical Services —
              <a href="https://twitter.com/bareeha" rel="noopener noreferrer" class="text-gray-600 ml-1" target="_blank">@Bareeha</a>
            </p>
            <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
              <a class="text-gray-500">
                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                </svg>
              </a>
              <a class="ml-3 text-gray-500">
                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                </svg>
              </a>
              <a class="ml-3 text-gray-500">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                  <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                </svg>
              </a>
              <a class="ml-3 text-gray-500">
                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                  <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                  <circle cx="4" cy="4" r="2" stroke="none"></circle>
                </svg>
              </a>
            </span>
          </div>
        </div>
      </footer>
 