// Colors
$primary: #FE5F1E;
$primary-hover: #b23301;
$secondary: #F8F8F8;
$pure: #fff;
$dark: #232323;
$gray: #ccc;

// Transition 
$smooth: all .3s ease-in-out;

// Font 
$montSemi:'Montserrat SemiBold';
$Bell:"Bell MT Regular";
$arial:'Arial Bold';
$copper:'Copperplate Gothic Bold';
$candara:'Candara Regular';
$arialRounded:'Arial Rounded MT Bold';
$calisto:'Calisto MT Regular';


//bg
$footer:#5bc0de;

// colors
$navy:#52658C;