<section id="book-section">
  <div class="book m-auto">
    <div class="form">
      <form action="/book" method="POST">
        <div class="text">USERNAME<input name="name" required type="text"></div>
        <div class="text">EMAIL ADDRESS<input name="email" required type="email"></div>
        <div class="text">PHONE NUMBER<input name="number" required type="text"></div>
        <div class="text">ADDRESS<input name="address" required type="text"></div>
        <div class="text">BOOKING FOR<input name="book" required type="text"
            placeholder="For 1 Side Wall,2 Side Wall,3 Side Wall, 1 Room Wall Tiling"></div>
        <div class="text center"><Button class="book-btn">Book Now</Button></div>
      </form>
    </div>
  </div>
</section>
<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="text-2xl font-medium title-font mb-4 text-gray-900">Book Now</h1>
      <!-- <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them.</p> -->
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="p-4 lg:w-1/4 md:w-1/2">
        <div class="h-full flex flex-col items-center text-center">
          <img alt="team" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4"
            src="/img/kitchen2.jpg">
          <div class="w-full">
            <div class="mt-0 text-center">
              <!-- <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3> -->
              <h3 class="text-gray-500 mb-3 text-xl text-copper">KITCHEN FLOOR</h3>
              <p class="d-inline">The kitchen is the heart of the home. The kitchen floor
              </p>
              <div class="collapse" id="collapseExample1">
                <div class="text-dark">
                  has toput up with alot, so it is worth having a proper thimk about what sort of kitchen flooring you
                  want. Regardless of your tates and the style of your interioe The Bareeha Technical Services helps you
                  finding a kitchen flooring that is decorative , easy to install and simple to maintain.
                </div>
              </div>
              <p>
                <a class="show" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false"
                  aria-controls="collapseExample">
                  Show More
                </a>
              </p>
              <a class="btn btn-secondary " href="/floor" role="button">Book Now »</a>
            </div>
            <span class="inline-flex">
              <a class="text-gray-500">
                <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                  viewBox="0 0 24 24">
                  <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                </svg>
              </a>
              <a class="ml-2 text-gray-500">
                <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                  viewBox="0 0 24 24">
                  <path
                    d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                  </path>
                </svg>
              </a>
              <a class="ml-2 text-gray-500">
                <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                  viewBox="0 0 24 24">
                  <path
                    d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z">
                  </path>
                </svg>
              </a>
            </span>
          </div>
        </div>
      </div>
      <div class="p-4 lg:w-1/4 md:w-1/2">
        <div class="h-full flex flex-col items-center text-center">
          <img alt="team" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4"
            src="/img/living.jpg">
          <div class="w-full">
            <div class="mt-0 text-center">
              <!-- <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3> -->
              <h3 class="text-gray-500 mb-3 text-xl text-copper">LIVING ROOM FLOORS</h3>
              <p class="d-inline">The Bareeha Technical Services believes that besides
              </p>
              <div class="collapse" id="collapseExample">
                <div class="text-dark">
                  besides the bedroom we spends most of our time in living room . Floors in living room should be
                  attractive and representative when we have guests. We provide you a vast range of different kind of
                  floorings for your living room such as wood floor, laminate flooring and many more, so what you
                  waiting for .....? Bareeha Technical Services is just a click away from you ....
                </div>
              </div>
              <p>
                <a class="show" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                  aria-controls="collapseExample">
                  Show More
                </a>
              </p>
              <a class="btn btn-secondary " href="/floor" role="button">Book Now »</a>
            </div>
            <span class="inline-flex">
              <a class="text-gray-500">
                <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                  viewBox="0 0 24 24">
                  <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                </svg>
              </a>
              <a class="ml-2 text-gray-500">
                <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                  viewBox="0 0 24 24">
                  <path
                    d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                  </path>
                </svg>
              </a>
              <a class="ml-2 text-gray-500">
                <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                  viewBox="0 0 24 24">
                  <path
                    d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z">
                  </path>
                </svg>
              </a>
            </span>
          </div>
        </div>
      </div>
      <div class="p-4 lg:w-1/4 md:w-1/2">
        <div class="h-full flex flex-col items-center text-center">
          <img alt="team" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4"
            src="/img/bed.jpg">
          <div class="w-full">
            <div class="mt-0 text-center">
              <!-- <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3> -->
              <h3 class="text-gray-500 mb-3 text-xl text-copper"> BEDROOM FLOORING </h3>
              <p class="d-inline"> When it comes to bedroom flooring Bareeha Technical
              </p>
              <div class="collapse" id="collapseExample2">
                <div class="text-dark">
                  Services provides you many options and lot of considerations .Bedroom flooring should be ofcourse
                  comfortable and decorative style , and Bareeha Technical Services is waiting for you to serve you with
                  bests of bests flooring and experien.
                </div>
              </div>
              <p>
                <a class="show" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false"
                  aria-controls="collapseExample">
                  Show More
                </a>
              </p>
              <a class="btn btn-secondary " href="/floor" role="button">Book Now »</a>
            </div>
            <span class="inline-flex">
              <a class="text-gray-500">
                <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                  viewBox="0 0 24 24">
                  <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                </svg>
              </a>
              <a class="ml-2 text-gray-500">
                <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                  viewBox="0 0 24 24">
                  <path
                    d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                  </path>
                </svg>
              </a>
              <a class="ml-2 text-gray-500">
                <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                  viewBox="0 0 24 24">
                  <path
                    d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z">
                  </path>
                </svg>
              </a>
            </span>
          </div>
        </div>
      </div>
      <div class="p-4 lg:w-1/4 md:w-1/2">
        <div class="h-full flex flex-col items-center text-center">
          <img alt="team" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4"
            src="/img/gym.jpg">
          <div class="w-full">
            <div class="mt-0 text-center">
              <!-- <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3> -->
              <h3 class="text-gray-500 mb-3 text-sm text-copper">GYMNASIUM FLOORING</h3>
              <p class="d-inline "> A gymnasium flooring should be as strong as its
              </p>
              <div class="collapse" id="collapseExample3">
                <div class="text-dark">
                  patrons wish to become . BareehaTechnical Services believes it should protect a gym floor from any
                  potential damage . Bareeha Technical Services have many kind of floorings for your gym so do not wait
                  , just get us with one click and let us have the opportunity to serve you ..!
                </div>
              </div>
              <p>
                <a class="show" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false"
                  aria-controls="collapseExample">
                  Show More
                </a>
              </p>
              <a class="btn btn-secondary " href="/floor" role="button">Book Now »</a>
            </div>
            <span class="inline-flex">
              <a class="text-gray-500">
                <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                  viewBox="0 0 24 24">
                  <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                </svg>
              </a>
              <a class="ml-2 text-gray-500">
                <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                  viewBox="0 0 24 24">
                  <path
                    d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                  </path>
                </svg>
              </a>
              <a class="ml-2 text-gray-500">
                <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                  viewBox="0 0 24 24">
                  <path
                    d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z">
                  </path>
                </svg>
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="inline-block w-8 h-8 text-gray-400 mb-8"
        viewBox="0 0 975.036 975.036">
        <path
          d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z">
        </path>
      </svg>
      <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">Bareeha Technical Services | Info Section
      </h2>
      <p class="leading-relaxed text-lg text-justify">As we provide a wide selection of top quality flooring and wide
        range of products at the best value to customers, we also work for 2 BHK, 4 BHK, Normal Houses and Villas. We
        also make sure that our customers get the fastest service even in an Emergency Case. We are available 24×7 for
        you, so if there is a need, you can contact us anytime and everytime. It is the responsibility of Bareeha
        Technical Services to provide the best of the services to our customers 24×7 all over Dubai. For completing the
        flooring work of 2 BHK or 4 BHK, we'll make sure that we don't make our customers wait for more than 2-3 days.
        Moreover if we talk about Normal Houses or Villas, we ensure to complete our work within 4 days with top-quality
        and full satisfaction of our customers. We take the responsibility to fulfill the needs of our customers at any
        time and any part of Dubai. Whether the flooring is to be done for wall cladding, sports, safety or anything,
        Bareeha Technical Services guarantee that our professional workers will complete the work without any complaint
        from our customers. However, if a tile breaks or cracks within 10 days due to any natural cause or anything
        else, Bareeha Technical Services will provide One Time Free Service in such cases. Also if a customer contacts
        for the very first time, we give Free Repair Service. This 1 Time Free Service is available for everyone and
        everywhere all over Dubai. Bareeha Technical Services just need the trust and support of our customers and we
        will give our best not to disappoint any of our customers. We will provide our best quality services which will
        hopefully not disappoint our customers and if any damage occurs to their environment in future, their first and
        foremost priority will be Bareeha Technical Services!.</p>
      <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-8 mb-6"></span>
      <!-- <p class="text-gray-500">Senior Product Designer</p> -->
    </div>
  </div>
</section>
<footer class="text-white-600 body-font bg">
  <div
    class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col ">
    <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left">
      <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
          stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
          viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <span class="ml-3 text-xs">About Bareeha Technical Services</span>
      </a>
      <p class="mt-2 text-sm text-light-500 ">Bareeha technical services is focused on providing a very high quality
        service.</p>

    </div>
    <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center">
      <div class="lg:w-1/4 md:w-1/2 w-full px-2 text-center">
        <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-2">Our Services</h2>
        <nav class="list-none mb-2 text-center">
          <li>
            <a class="text-secondary-600 text-sm hover:text-gray-800">Floor work</a>
          </li>
          <li>
            <a class="text-secondary-600 text-sm hover:text-gray-800">Wall tiling work</a>
          </li>
          <li>
            <a class="text-secondary-600 text-sm hover:text-gray-800">Plumbing</a>
          </li>
          <li>
            <a class="text-secondary-600 text-sm hover:text-gray-800">Wall Paper Fixing</a>
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-2 text-center">
        <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">Our Services</h2>
        <nav class="list-none mb-2 text-center">
          <li>
            <a class="text-secondary-600 text-sm hover:text-light-800">False Ceiling</a>
          </li>
          <li>
            <a class="text-secondary-600 text-xs hover:text-gray-800">Light Partions Installation</a>
          </li>
          <li>
            <a class="text-secondary-600 text-sm hover:text-gray-800">Ac Services</a>
          </li>
          <li>
            <a class="text-secondary-600 text-xs hover:text-gray-800">System Maintenance</a>
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4 text-center">
        <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">Information</h2>
        <nav class="list-none mb-10 text-center">
          <li>
            <a class="text-secondary-600 text-sm hover:text-Secondary-800">About</a>
          </li>
          <li>
            <a class="text-secondary-600 text-sm hover:text-gray-800">Contact</a>
          </li>
          <li>
            <a class="text-secondary-600 text-sm hover:text-gray-800">Register</a>
          </li>
          <li>
            <a class="text-secondary-600 text-sm hover:text-gray-800">Login</a>
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">Contact US</h2>
        <nav class="list-none mb-10 text-center">
          <li>
            <a class="text-secondary-600 text-xs  hover:text-gray-800">United Arab Emirates</a>
          </li>
          <li>
            <a class="text-secondary-600 text-sm hover:text-gray-800">+971 52 431 9345</a>
          </li>
          <li>
            <a class="text-secondary-600 text-sm hover:text-gray-800">+971 52 431 9345</a>
          </li>
          <li>
            <a class="text-secondary-600 text-sm hover:text-gray-800">bareeha@gmail.com</a>
          </li>
        </nav>
      </div>
    </div>
  </div>
  <div class="bg-#7c9b9a-100 w-100">
    <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
      <p class="text-secondary-500 text-sm text-center sm:text-left">© 2021 Bareeha Technical Services —
        <a href="https://twitter.com/bareeha" rel="noopener noreferrer" class="text-gray-600 ml-1"
          target="_blank">@Bareeha</a>
      </p>
      <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
        <a class="text-gray-500">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
            viewBox="0 0 24 24">
            <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
          </svg>
        </a>
        <a class="ml-3 text-gray-500">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
            viewBox="0 0 24 24">
            <path
              d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
            </path>
          </svg>
        </a>
        <a class="ml-3 text-gray-500">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            class="w-5 h-5" viewBox="0 0 24 24">
            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
            <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
          </svg>
        </a>
        <a class="ml-3 text-gray-500">
          <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0"
            class="w-5 h-5" viewBox="0 0 24 24">
            <path stroke="none"
              d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
            <circle cx="4" cy="4" r="2" stroke="none"></circle>
          </svg>
        </a>
      </span>
    </div>
  </div>
</footer>