<section id="book-section">
  <div class="book m-auto">
    <div class="form">
      <form action="/book" method="POST">
        <div class="text">USERNAME<input name="name" required type="text"></div>
        <div class="text">EMAIL ADDRESS<input name="email" required type="email"></div>
        <div class="text">PHONE NUMBER<input name="number" required type="text"></div>
        <div class="text">ADDRESS<input name="address" required type="text"></div>
        <div class="text">BOOKING FOR<input name="book" required type="text"
            placeholder="For 1 Side Wall,2 Side Wall,3 Side Wall, 1 Room Wall Tiling"></div>
        <div class="text center"><Button class="book-btn">Book Now</Button></div>
      </form>
    </div>
  </div>
</section>
<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="text-2xl font-medium title-font mb-4 text-gray-900">Book Now</h1>
      <!-- <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them.</p> -->
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="p-4 lg:w-1/4 md:w-1/2">
        <div class="h-full flex flex-col items-center text-center">
          <img alt="team" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4"
            src="/img/fix3.jpg">
          <div class="w-full">
            <div class="mt-0 text-center">
              <!-- <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3> -->
              <h3 class="text-gray-500 mb-3 text-2xl text-copper">For 1 Side Wall</h3>
              <p class="d-inline"> Looking for a dramatic bold pattern to highlight an
              </p>
              <div class="collapse" id="collapseExample1">
                <div class="text-dark">
                  an area of room such as behind sofa or bed Bareeha Technical Service provide designes with classy and
                  glamorous touch.
                </div>
              </div>
              <p>
                <a class="show" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false"
                  aria-controls="collapseExample">
                  Show More
                </a>
              </p>
              <a class="btn btn-secondary " href="/fixing" role="button">Book Now »</a>
            </div>
            <span class="inline-flex">
              <a class="text-gray-500">
                <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                  viewBox="0 0 24 24">
                  <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                </svg>
              </a>
              <a class="ml-2 text-gray-500">
                <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                  viewBox="0 0 24 24">
                  <path
                    d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                  </path>
                </svg>
              </a>
              <a class="ml-2 text-gray-500">
                <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                  viewBox="0 0 24 24">
                  <path
                    d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z">
                  </path>
                </svg>
              </a>
            </span>
          </div>
        </div>
      </div>
      <div class="p-4 lg:w-1/4 md:w-1/2">
        <div class="h-full flex flex-col items-center text-center">
          <img alt="team" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4"
            src="/img/fix2.jpg">
          <div class="w-full">
            <div class="mt-0 text-center">
              <!-- <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3> -->
              <h3 class="text-gray-500 mb-3 text-2xl text-copper">For 2 Side Wall</h3>
              <p class="d-inline">Want to have two colors or patterns in your room have
              </p>
              <div class="collapse" id="collapseExample">
                <div class="text-dark">
                  to go well together Bareeha Technical Service is just at one call to help you with the needs.
                </div>
              </div>
              <p>
                <a class="show" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                  aria-controls="collapseExample">
                  Show More
                </a>
              </p>
              <a class="btn btn-secondary " href="/fixing" role="button">Book Now »</a>
            </div>
            <span class="inline-flex">
              <a class="text-gray-500">
                <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                  viewBox="0 0 24 24">
                  <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                </svg>
              </a>
              <a class="ml-2 text-gray-500">
                <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                  viewBox="0 0 24 24">
                  <path
                    d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                  </path>
                </svg>
              </a>
              <a class="ml-2 text-gray-500">
                <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                  viewBox="0 0 24 24">
                  <path
                    d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z">
                  </path>
                </svg>
              </a>
            </span>
          </div>
        </div>
      </div>
      <div class="p-4 lg:w-1/4 md:w-1/2">
        <div class="h-full flex flex-col items-center text-center">
          <img alt="team" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4"
            src="/img/fixing.jpg">
          <div class="w-full">
            <div class="mt-0 text-center">
              <!-- <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3> -->
              <h3 class="text-gray-500 mb-3 text-copper text-2xl">For 3 Side Wall </h3>
              <p class="d-inline">If you 3 Side Wall papers Bareeha Technical Service is
              </p>
              <div class="collapse" id="collapseExample2">
                <div class="text-dark">
                  in your Service to provide you with amazing designes to get your room an amazing and unique look.
                </div>
              </div>
              <p>
                <a class="show" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false"
                  aria-controls="collapseExample">
                  Show More
                </a>
              </p>
              <a class="btn btn-secondary " href="/fixing" role="button">Book Now »</a>
            </div>
            <span class="inline-flex">
              <a class="text-gray-500">
                <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                  viewBox="0 0 24 24">
                  <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                </svg>
              </a>
              <a class="ml-2 text-gray-500">
                <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                  viewBox="0 0 24 24">
                  <path
                    d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                  </path>
                </svg>
              </a>
              <a class="ml-2 text-gray-500">
                <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                  viewBox="0 0 24 24">
                  <path
                    d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z">
                  </path>
                </svg>
              </a>
            </span>
          </div>
        </div>
      </div>
      <div class="p-4 lg:w-1/4 md:w-1/2">
        <div class="h-full flex flex-col items-center text-center">
          <img alt="team" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4"
            src="/img/fix4.jpg">
          <div class="w-full">
            <div class="mt-0 text-center">
              <!-- <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3> -->
              <h3 class="text-gray-500 mb-3 text-xl text-copper">For 1 Room Wall Tiling</h3>
              <p class="d-inline "> Wanting a classical designe on all four walls to get
              </p>
              <div class="collapse" id="collapseExample3">
                <div class="text-dark">
                  fresh contemporary look...? Bareeha Technical Service providing large scale and wide range of
                  wallpapers at very affordable prices.
                </div>
              </div>
              <p>
                <a class="show" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false"
                  aria-controls="collapseExample">
                  Show More
                </a>
              </p>
              <a class="btn btn-secondary " href="/fixing" role="button">Book Now »</a>
            </div>
            <span class="inline-flex">
              <a class="text-gray-500">
                <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                  viewBox="0 0 24 24">
                  <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                </svg>
              </a>
              <a class="ml-2 text-gray-500">
                <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                  viewBox="0 0 24 24">
                  <path
                    d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                  </path>
                </svg>
              </a>
              <a class="ml-2 text-gray-500">
                <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                  viewBox="0 0 24 24">
                  <path
                    d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z">
                  </path>
                </svg>
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="inline-block w-8 h-8 text-gray-400 mb-8"
        viewBox="0 0 975.036 975.036">
        <path
          d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z">
        </path>
      </svg>
      <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">WallPaper Fixing | Detailed Description
      </h2>
      <p class="leading-relaxed text-lg text-justify">Wants new energy in the room...? Than you need to go for
        wallpapering the room in order to create a glamorous interior. Once the road less taken wallpapering has become
        increasingly common for the everyday homeowner. And if you are wondering what's the best way to maneuver through
        the endless Selection than Bareeha Technical Service are here to help you with best ever collections of
        wallpapers Relatively easy to maintain‚ wallpapers can be cleaned using dry method. Bareeha Technical Service
        provide following kinds of wallpaper:
        *Liner Wallpaper :* We provide Liner Wallpaper for minimising repairs with unique look.
        *Printed Wallpaper :* We deals in printed Wallpaper with wide variety of colors and patterns.
        *Vinyl Wallpaper :* We provide vinyl Wallpaper for your kitchens and bathrooms.
        *Foil Wallpaper :* Bareeha Technical Service deals with foil Wallpaper to provide your interior space a shiny
        and amazing look.
        *Flock Wallpaper :* We are also dealing with flock Wallpaper to give your room a luxurious look with three
        dimensional patterns.
        *Mylar Wallpaper :* If you looking for wet apperance we provide you Vast range of Mylar Wallpaper to fullfill
        your requirements.
        Bamboo Wallpapers :* Bareeha Technical Service also deals with bamboo Wallpaper for the customers who loves to
        be eco friendly. We value your requirements and try to fullfill the needs. Wallpaper are a perfect solution to
        transform a space without much effort. Bareeha Technical Service offers a delightful and colourful visual
        backdrops suitable for a homey and casual appeal. Keeping your target Wallpaper price in mind you can explore a
        wide and vast range of wallpapers to match your life style with affordable budget. All the end of the day the
        choice of wallpapers comes down to what the purpose of the room will be and Bareeha Technical Service helps you
        getting the best Wallpapers for your life style to make your dream house a perfect one Reach us with only one
        click.
      </p>
      <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-8 mb-6"></span>
      <!-- <p class="text-gray-500">Senior Product Designer</p> -->
    </div>
  </div>
</section>
<footer class="text-white-600 body-font bg">
  <div
    class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col ">
    <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left">
      <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
          stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
          viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <span class="ml-3 text-xs">About Bareeha Technical Services</span>
      </a>
      <p class="mt-2 text-sm text-light-500 ">Bareeha technical services is focused on providing a very high quality
        service.</p>

    </div>
    <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center">
      <div class="lg:w-1/4 md:w-1/2 w-full px-2 text-center">
        <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-2">Our Services</h2>
        <nav class="list-none mb-2 text-center">
          <li>
            <a class="text-secondary-600 text-sm hover:text-gray-800">Floor work</a>
          </li>
          <li>
            <a class="text-secondary-600 text-sm hover:text-gray-800">Wall tiling work</a>
          </li>
          <li>
            <a class="text-secondary-600 text-sm hover:text-gray-800">Plumbing</a>
          </li>
          <li>
            <a class="text-secondary-600 text-sm hover:text-gray-800">Wall Paper Fixing</a>
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-2 text-center">
        <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">Our Services</h2>
        <nav class="list-none mb-2 text-center">
          <li>
            <a class="text-secondary-600 text-sm hover:text-light-800">False Ceiling</a>
          </li>
          <li>
            <a class="text-secondary-600 text-xs hover:text-gray-800">Light Partions Installation</a>
          </li>
          <li>
            <a class="text-secondary-600 text-sm hover:text-gray-800">Ac Services</a>
          </li>
          <li>
            <a class="text-secondary-600 text-xs hover:text-gray-800">System Maintenance</a>
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4 text-center">
        <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">Information</h2>
        <nav class="list-none mb-10 text-center">
          <li>
            <a class="text-secondary-600 text-sm hover:text-Secondary-800">About</a>
          </li>
          <li>
            <a class="text-secondary-600 text-sm hover:text-gray-800">Contact</a>
          </li>
          <li>
            <a class="text-secondary-600 text-sm hover:text-gray-800">Register</a>
          </li>
          <li>
            <a class="text-secondary-600 text-sm hover:text-gray-800">Login</a>
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">Contact US</h2>
        <nav class="list-none mb-10 text-center">
          <li>
            <a class="text-secondary-600 text-xs  hover:text-gray-800">United Arab Emirates</a>
          </li>
          <li>
            <a class="text-secondary-600 text-sm hover:text-gray-800">+971 52 431 9345</a>
          </li>
          <li>
            <a class="text-secondary-600 text-sm hover:text-gray-800">+971 52 431 9345</a>
          </li>
          <li>
            <a class="text-secondary-600 text-sm hover:text-gray-800">bareeha@gmail.com</a>
          </li>
        </nav>
      </div>
    </div>
  </div>
  <div class="bg-#7c9b9a-100 w-100">
    <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
      <p class="text-secondary-500 text-sm text-center sm:text-left">© 2021 Bareeha Technical Services —
        <a href="https://twitter.com/bareeha" rel="noopener noreferrer" class="text-gray-600 ml-1"
          target="_blank">@Bareeha</a>
      </p>
      <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
        <a class="text-gray-500">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
            viewBox="0 0 24 24">
            <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
          </svg>
        </a>
        <a class="ml-3 text-gray-500">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
            viewBox="0 0 24 24">
            <path
              d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
            </path>
          </svg>
        </a>
        <a class="ml-3 text-gray-500">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            class="w-5 h-5" viewBox="0 0 24 24">
            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
            <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
          </svg>
        </a>
        <a class="ml-3 text-gray-500">
          <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0"
            class="w-5 h-5" viewBox="0 0 24 24">
            <path stroke="none"
              d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
            <circle cx="4" cy="4" r="2" stroke="none"></circle>
          </svg>
        </a>
      </span>
    </div>
  </div>
</footer>